@import "tailwindcss";

@theme {
    --color-primary: #ff8901;
    --color-secondary: #fb923c;
    --font-playfair: "Playfair Display", serif;

}


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 640px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 1024px) {
    .container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (min-width: 1280px) {
    .container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (min-width: 1536px) {
    .container {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
* {
    scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge, and older versions of Firefox */
html {
    -ms-overflow-style: none;
}